nav{
    background-color: #563d7c;
    color: #fff;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
}

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li{
    list-style: none;
}

nav li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 8px;
}

nav li a:hover{
    color: rgb(189, 204, 49);
    text-decoration: none;
}


.trans-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.trans-items{
    list-style: none;
    background-color: rgb(221, 68, 68);
}

.trans-items a{
    color: rgb(247, 239, 239);
    text-decoration: none;
    font-weight: bold;
    padding: 5px 8px;
}